{{#if started}}
  <div id="turns" local-class="turns-text">{{turnsText}}</div>
  <div local-class="cards">
    <div local-class="card">
      {{#if  (not userCardRevealed)}}
        <button id="revealUserCard" onclick={{action 'revealUserCard'}}>Reveal Next Card</button>
      {{/if}}
      {{#if userCardRevealed}}
        <div id="userCard">
          <div class="name">Name: {{userCard.name}}</div>
          <div class="height" onclick={{action 'attributeSelected' 'height'}}>Height: {{userCard.height}}</div>
          <div class="mass" onclick={{action 'attributeSelected' 'mass'}}>Mass: {{userCard.mass}}</div>
        </div>
      {{/if}}
    </div>
    <div local-class="card">
      {{#if computerCardRevealed}}
        <div id="computerCard">
          <div class="name">Name: {{computerCard.name}}</div>
          <div class="height">Height: {{computerCard.height}}</div>
          <div class="mass">Mass: {{computerCard.mass}}</div>
        </div>
      {{/if}}
    </div>
  </div>
  <div local-class="wins">
    <div id="userWins" local-class="win">User Wins: {{userWins}}</div>
    <div id="computerWins" local-class="win">Computer Wins: {{computerWins}}</div>
  </div>
  {{#if (and userCardRevealed computerCardRevealed)}}
    {{#if (eq turns 0)}}
      <div id="gameOverText" local-class="game-over-text">Game Over</div>
    {{else}}
      <div local-class="button-container">
        <button id="nextRound" onclick={{action 'nextRound'}}>Next Round</button>
      </div>
    {{/if}}
  {{/if}}
{{else}}
  <div local-class="button-container">
    <button id="start" onclick={{action 'startGame'}}>
      Start
    </button>
  </div>
{{/if}}
