{{#if started}}
  <div id="turns">{{turnsText}}</div>
  {{#if  (not userCardRevealed)}}
    <button id="revealUserCard" onclick={{action 'revealUserCard'}}>Reveal Next Card</button>
  {{/if}}
  {{#if userCardRevealed}}
    <div id="userCard">
      <span class="height" onclick={{action 'attributeSelected' 'height'}}>{{userCard.height}}</span>
      <span class="mass" onclick={{action 'attributeSelected' 'mass'}}>{{userCard.mass}}</span>
    </div>
  {{/if}}
  <div id="userWins">{{userWins}}</div>
  {{#if computerCardRevealed}}
    <div id="computerCard">
      <span class="height">{{computerCard.height}}</span>
      <span class="mass">{{computerCard.mass}}</span>
    </div>
  {{/if}}
  <div id="computerWins">{{computerWins}}</div>
  {{#if (and userCardRevealed computerCardRevealed)}}
    <button id="nextRound" onclick={{action 'nextRound'}}>Next Round</button>
  {{/if}}
{{else}}
  <button id="start" onclick={{action 'startGame'}}>
    Start
  </button>
{{/if}}


{{yield}}
