{{#if started}}
  <div id="turns">{{turnsText}}</div>
  {{#if  (not userCardRevealed)}}
    <button id="revealUserCard" onclick={{action 'revealUserCard'}}>Reveal Next Card</button>
  {{/if}}
  {{#if userCardRevealed}}
    <div id="userCard">
      <span>Name: {{userCard.name}}</span>
      <span class="height" onclick={{action 'attributeSelected' 'height'}}>Height: {{userCard.height}}</span>
      <span class="mass" onclick={{action 'attributeSelected' 'mass'}}>Mass: {{userCard.mass}}</span>
    </div>
  {{/if}}
  <div id="userWins">User Wins: {{userWins}}</div>
  {{#if computerCardRevealed}}
    <div id="computerCard">
      <span>Name: {{computerCard.name}}</span>
      <span class="height">Height: {{computerCard.height}}</span>
      <span class="mass">Mass: {{computerCard.mass}}</span>
    </div>
  {{/if}}
  <div id="computerWins">Computer Wins: {{computerWins}}</div>
  {{#if (and userCardRevealed computerCardRevealed)}}
    {{#if (eq turns 0)}}
      <div id="gameOverText">Game Over</div>
    {{else}}
      <button id="nextRound" onclick={{action 'nextRound'}}>Next Round</button>
    {{/if}}
  {{/if}}
{{else}}
  <button id="start" onclick={{action 'startGame'}}>
    Start
  </button>
{{/if}}


{{yield}}
